<h3>Add Customer</h3>
<form action="/customer/add" method="post">
  <input type="text" name="name" placeholder="Add name" />
  <input type="text" name="email" placeholder="Add email" />
  <input type="submit" value="Submit" />
</form>
<h3>Customers</h3>
<ul>
  <% customers.forEach((customer)=>{%>
  <li>
    <h4><%= customer.value.name %></h4>
    <%= customer.value.email %>
    <form action="/customer/delete/<%= customer.key %>" method="post">
      <input type="hidden" value="<%= customer.value.rev %>" name="rev" />
      <input type="submit" value="&times;" />
    </form>
  </li>
  <%}); %>
</ul>
